<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VisualRiskAutomation-Suite" parallel="false">

	<!-- <parameter name="testCase" value="EndToEndValidation_NewFormUpload_Test" 
		/> -->
	<listeners>
		<listener class-name="library.AnnotationTransformer" />
	</listeners>

	<test name="New Form Upload">

		<parameter name="isNegative" value="false" />
		<parameter name="browser" value="chrome" />
		<parameter name="testName" value="endToEndValidation_NewFormUpload_Test" />
		<classes>
			<class name="testCase.EndToEndValidation_NewFormUpload_Test" />
		</classes>
	</test> <!-- Test -->

	<test name="Existing Form">
		<parameter name="isNegative" value="false" />
		<parameter name="browser" value="firefox" />
		<parameter name="testName" value="endToEndValidation_ExistingForm_Test" />
		<classes>
			<class name="testCase.EndToEndValidation_ExistingForm_Test" />
		</classes>
	</test>

	<test name="Quote Creation Flow">
		<parameter name="isNegative" value="false" />
		<parameter name="browser" value="chrome" />
		<parameter name="testName" value="verify_QuoteCreationFlow_Test" />
		<classes>
			<class name="testCase.Verify_QuoteCreationFlow_Test" />
		</classes>
	</test>

	<test name="Dashboard UI Verification">
		<parameter name="isNegative" value="false" />
		<parameter name="browser" value="chrome" />
		<parameter name="testName" value="VerifyVisualRiskDashBorad_Test" />
		<classes>
			<class name="testCase.VerifyVisualRiskDashBorad_Test" />
		</classes>
	</test>

</suite> <!-- Suite -->

<!-- -->